body {
    background-color: rgb(224, 220, 220);
}

.display, .topRow, .middleRow, .thirdRow, .bottomRow{
    display: flex;
    justify-content: center;
}

.display > #output {
    padding-right: 150px
}

.display > button {
    padding: 20px
}

.topRow > button {
    padding: 20px

}

.middleRow > button {
    padding: 20px;
}

.thirdRow > button {
    padding: 20px;
}

.bottomRow > button {
    padding: 20px;
}

#output {
    padding-right: 67px;
    padding-top: 10px;
    border: 2px solid black;
}

